<a href="https://colab.research.google.com/github/Bhavin52/Case_Study/blob/main/Clustering_Q1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
# import hierarchical clustering libraries
import scipy.cluster.hierarchy as sch
from sklearn.cluster import AgglomerativeClustering
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sn

In [71]:
airLines = pd.read_csv("/content/EastWestAirlines.csv")
airLines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID#                3999 non-null   int64
 1   Balance            3999 non-null   int64
 2   Qual_miles         3999 non-null   int64
 3   cc1_miles          3999 non-null   int64
 4   cc2_miles          3999 non-null   int64
 5   cc3_miles          3999 non-null   int64
 6   Bonus_miles        3999 non-null   int64
 7   Bonus_trans        3999 non-null   int64
 8   Flight_miles_12mo  3999 non-null   int64
 9   Flight_trans_12    3999 non-null   int64
 10  Days_since_enroll  3999 non-null   int64
 11  Award?             3999 non-null   int64
dtypes: int64(12)
memory usage: 375.0 KB

In [72]:
airLines.drop('ID#', axis=1, inplace=True)

In [73]:
airLines.duplicated().count()

3999

In [74]:
airLines.isna().sum()

Balance              0
Qual_miles           0
cc1_miles            0
cc2_miles            0
cc3_miles            0
Bonus_miles          0
Bonus_trans          0
Flight_miles_12mo    0
Flight_trans_12      0
Days_since_enroll    0
Award?               0
dtype: int64

In [75]:
# Standardzation  
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
airLines = scaler.fit_transform(airLines.iloc[:,1:])
airLines

array([[-0.18629869, -0.76957841, -0.09824189, ..., -0.36216787,
         1.39545434, -0.7669193 ],
       [-0.18629869, -0.76957841, -0.09824189, ..., -0.36216787,
         1.37995704, -0.7669193 ],
       [-0.18629869, -0.76957841, -0.09824189, ..., -0.36216787,
         1.41192021, -0.7669193 ],
       ...,
       [-0.18629869,  0.68312117, -0.09824189, ..., -0.36216787,
        -1.31560393,  1.30391816],
       [-0.18629869, -0.76957841, -0.09824189, ..., -0.09850333,
        -1.31608822, -0.7669193 ],
       [-0.18629869, -0.76957841, -0.09824189, ..., -0.36216787,
        -1.31754109, -0.7669193 ]])

In [ ]:
# create dendrogram
dendrogram = sch.dendrogram(sch.linkage(airLines, method='single'))

In [ ]:
# create clusters
hc = AgglomerativeClustering(n_clusters=4, affinity = 'euclidean', linkage = 'single')

In [ ]:
# save clusters for chart
y_hc = hc.fit_predict(airLines)
Clusters_hierarchy=pd.DataFrame(y_hc,columns=['Clusters_hierarchy'])
Clusters_hierarchy

In [ ]:
from sklearn.cluster import KMeans  # showing Elbow curve minimum required cluster is 10 as after WCSS(sum of squared distance between each point and the centroid in a cluster.) Marginal change
wcss = []
for i in range(1, 45):
    kmeans = KMeans(n_clusters=i,random_state=0)
    kmeans.fit(airLines)
    wcss.append(kmeans.inertia_)
    
plt.plot(range(1, 45), wcss)
plt.title('Elbow Method')
plt.xlabel('Number of clusters')
plt.ylabel('WCSS')
plt.show()

In [ ]:
from sklearn.cluster import KMeans
clusters_Kmeans = KMeans(10, random_state=42)
clusters_Kmeans.fit(airLines)

In [ ]:
clusters_Kmeans.labels_

In [ ]:
airLines['clusters_Kmeans']=clusters_Kmeans.labels_