<a href="https://colab.research.google.com/github/Bhavin52/Assignment/blob/main/Hypothesis_Q4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import scipy 
import numpy as np
from scipy.stats import chi2_contingency
df = pd.read_csv("/content/Costomer+OrderForm.csv")

In [19]:
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [20]:
df.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [21]:
# Phillippines has 29 and Indonesia has 33 , Malta has 31 , India has 20 Defective
data = [[271, 267, 269, 280], [29, 33, 31, 20]]
data

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [22]:
stat, p, dof, expected = chi2_contingency(data)

In [23]:
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')
#code taken from geek for seeks

p value is 0.2771020991233135
Independent (H0 holds true)