<a href="https://colab.research.google.com/github/Bhavin52/Assignment/blob/main/Hypothesis_Q3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ho = male and female buyer  ratio  are simillar across regions
Ha = male and female buyer ratio are not simillar across regions

In [7]:
import pandas as pd
import scipy 
import numpy as np
from scipy.stats import chi2_contingency
df = pd.read_csv("/content/BuyerRatio.csv")

In [8]:
df.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [14]:
# first we have to make a data with usiblity 
val = df.iloc[:,1:6].values

In [15]:
val

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [16]:
stat, p, dof, expected = chi2_contingency(val)

In [17]:
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')
    # code taken from geek for seeks

p value is 0.6603094907091882
Independent (H0 holds true)