<a href="https://colab.research.google.com/github/Bhavin52/Case_Study/blob/main/SVM_Q3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd 
import numpy as np 
import seaborn as sns

In [23]:
letters = pd.read_csv("/content/letters.csv")

In [24]:

letters.head()

,lettr,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybar,xy2bar,x-ege,xegvy,y-ege,yegvx
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10

In [25]:
letters.describe().T

          count     mean       std  min  25%  50%   75%   max
x-box   20000.0  4.02355  1.913212  0.0  3.0  4.0   5.0  15.0
y-box   20000.0  7.03550  3.304555  0.0  5.0  7.0   9.0  15.0
width   20000.0  5.12185  2.014573  0.0  4.0  5.0   6.0  15.0
high    20000.0  5.37245  2.261390  0.0  4.0  6.0   7.0  15.0
onpix   20000.0  3.50585  2.190458  0.0  2.0  3.0   5.0  15.0
x-bar   20000.0  6.89760  2.026035  0.0  6.0  7.0   8.0  15.0
y-bar   20000.0  7.50045  2.325354  0.0  6.0  7.0   9.0  15.0
x2bar   20000.0  4.62860  2.699968  0.0  3.0  4.0   6.0  15.0
y2bar   20000.0  5.17865  2.380823  0.0  4.0  5.0   7.0  15.0
xybar   20000.0  8.28205  2.488475  0.0  7.0  8.0  10.0  15.0
x2ybar  20000.0  6.45400  2.631070  0.0  5.0  6.0   8.0  15.0
xy2bar  20000.0  7.92900  2.080619  0.0  7.0  8.0   9.0  15.0
x-ege   20000.0  3.04610  2.332541  0.0  1.0  3.0   4.0  15.0
xegvy   20000.0  8.33885  1.546722  0.0  8.0  8.0   9.0  15.0
y-ege   20000.0  3.69175  2.567073  0.0  2.0  3.0   5.0  15.0
yegvx   20000.0  7.80120  1.617470  0.0  7.0  8.0   9.0  15.0

In [26]:
letters.columns

Index(['lettr', 'x-box', 'y-box', 'width', 'high', 'onpix', 'x-bar', 'y-bar',
       'x2bar', 'y2bar', 'xybar', 'x2ybar', 'xy2bar', 'x-ege', 'xegvy',
       'y-ege', 'yegvx'],
      dtype='object')

In [27]:
#sns.boxplot(x="lettr",y="x-box",data=letters,palette = "hls")
#sns.boxplot(x="y-box",y="lettr",data=letters,palette = "hls")
#sns.pairplot(data=letters)

In [28]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
train,test = train_test_split(letters,test_size = 0.3)
test.head()

,lettr,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybar,xy2bar,x-ege,xegvy,y-ege,yegvx
12933,G,5,10,5,7,4,6,6,6,5,10,7,13,2,9,5,9
18202,F,5,11,5,8,4,1,12,4,5,12,11,8,0,8,1,6
14717,A,4,7,5,5,3,8,2,2,2,7,2,8,2,7,3,6
14090,U,4,8,6,6,4,5,9,5,6,7,9,10,3,9,1,8
19915,X,7,11,11,8,7,4,8,2,9,10,11,9,5,8,5,4

In [29]:
train_X = train.iloc[:,1:]
train_y = train.iloc[:,0]
test_X  = test.iloc[:,1:]
test_y  = test.iloc[:,0]

In [30]:
# Create SVM classification object 
# 'linear', 'poly', 'rbf', 'sigmoid', 'precomputed'

# kernel = linear
model_linear = SVC(kernel = "linear")
model_linear.fit(train_X,train_y)
pred_test_linear = model_linear.predict(test_X)

np.mean(pred_test_linear==test_y)

0.855

In [31]:
# Kernel = poly
model_poly = SVC(kernel = "poly")
model_poly.fit(train_X,train_y)
pred_test_poly = model_poly.predict(test_X)

np.mean(pred_test_poly==test_y)

0.9476666666666667

In [32]:
# kernel = rbf
model_rbf = SVC(kernel = "rbf")
model_rbf.fit(train_X,train_y)
pred_test_rbf = model_rbf.predict(test_X)

np.mean(pred_test_rbf==test_y)

0.9286666666666666